body {
		background-color: #393e46;
}

@keyframes rotate {
	from {
		transform: rotateX(0) rotateY(0);
	}
	to {
		transform: rotateX(-20deg) rotateY(-20deg);
	}
}

@keyframes opacity {
	from {
		opacity: 1;
	}
	to {
		opacity: .8;
	}
}

.cube {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 200px auto;
	/*border: 1px solid #000;*/
	transform-style: preserve-3d;
	animation: rotate  5s forwards;
	animation-delay: 5s;
}

.cube .face {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	background-image: url('img/logo1.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation: opacity  5s forwards;
}

.cube .face-top {
	transform: rotateX(90deg) translateZ(150px);
}

.cube .face-bottom {
	transform: rotateX(-90deg) translateZ(150px);
}

.cube .face-left {
	transform: rotateY(-90deg) translateZ(150px);
}

.cube .face-right {
	transform: rotateY(90deg) translateZ(150px);
}

.cube .face-before {
	transform: translateZ(150px);
}

.cube .face-after {
	transform: translateZ(-150px);
}